.d-flex.justify-content-between.align-items-center.mb-4
  %h1= t('.title')
  = link_to new_community_path, class: 'btn btn-primary' do
    %i.fas.fa-plus
    = t('.link_to_new')

.container-fluid
  .row
    - @communities.each do |community|
      .col-md-6.col-lg-4.p-1
        .card
          .card-body
            %h4= community.title
            .small.text-muted= t('activerecord.attributes.community.owner_name') + '：' + community.owner_name
            .small.text-muted= t('activerecord.attributes.community.created_at') + '：' + l(community.created_at)
            .d-flex.justify-content-between.align-items-end.mt-2
              %div
                .small 最新のコメント投稿：
                - author_name, created_at = community.comments.order(created_at: :desc).pick(:author_name, :created_at)
                .small
                  %span= author_name
                  %span= '(' + l(created_at) + ')' if created_at.present?
              = link_to community_path(community) do
                %i.fas.fa-arrow-right
                中に入る

