.d-flex.justify-content-between.align-items-center.mb-4
  %h1= t('.title')
  = link_to new_community_path, class: 'btn btn-primary' do
    %i.fas.fa-plus
    = t('.link_to_new')

.container-fluid
  .row
    - @communities.each do |community|
      .col-md-6.col-lg-4.p-1
        .card
          .card-body
            %h4= community.title
            %div= t('activerecord.attributes.community.owner_name') + '：' + community.owner_name
            .d-flex.justify-content-between
              %div= t('activerecord.attributes.community.created_at') + '：' + l(community.created_at)
              = link_to community_path(community) do
                %i.fas.fa-arrow-right
                中に入る

